<div class="container border">
  <div class="col-sm mt-3 p-3 border">
    <h2>Rules</h2>
    <ul class="list-group list-group-flush text-left">
      <li>You get assigned a race, 3 Major Skills, 3 Minor Skills, a Quest, zero or more handicaps</li>
      <li>The game ends when you finish the assigned quest's mainline. You're free to do whatever before then.</li>
      <li><strong>Until you reach lvl20</strong>, you can only spend perk points on your Major Skill trees. After you reach 20, you can also spend perk points on Minor Skill trees.</li>
    </ul>
  </div>
  <div class="col-sm mt-3 p-3 border">
    <h3>Handicaps</h3>
    <table class="table .table-hover text-left">
      <th>Handicap</th><th>Explanation</th>
      <tr><td>Insomniac</td><td>You cannot sleep</td></tr>
      <tr><td>Stoned</td><td>You cannot get any stone signs</td></tr>
      <tr><td>Pious Mortal</td><td>You don't worship daedra and won't seek any daedric artifact</td></tr>
      <tr><td>Disgrace to your Race</td><td>You cannot use any active racial ability. The passive ones like resistance to magic/poison/element are still usable</td></tr>
      <tr><td>Body Odour</td><td>You're so repulsive you cannot have a follower</td></tr>
      <tr><td>Dragonfool</td><td>You're not the Dragonborn. Never kill the first dragon. Never learn to shout.</td></tr>
      <tr><td>Agoraphobic</td><td>You cannot do any trading in shops within cities.</td></tr>
      <tr><td>Traveler</td><td>You refuse to fast travel. Horse travel and carriages are still okay</td></tr>
      <tr><td>Permadeath</td><td>You die once, you delete the character and start again</td></tr>
    </table>
  </div>
</div>
