<div class="rules hidden">
  <h2 id="whats-a-skyrim-roulette">What’s a Skyrim Roulette?</h2>
  <p>Skyrim Roulette is a way to purposefully handicap yourself during your next playthrough of Skyrim. By deliberatly avoiding to fall into your favorite playstyle, a Roulette will give you a set of randomly selected restrictions, that will force the player to think outside of their comfort zone and look for solutions in ways they hadn’t thought of before. It then follows that the builds that you’ll be playing in a Roulette run are considerably less powerful than free-range builds. Skyrim is easy when you <em>glitch</em> grind your way to level 100 in  Enchanting, Smithing, Alchemy and Sneak, but what if the Roulette prevents you from doing this? Will you know where to look for alternatives?</p>
  <h3 id="how-does-it-work">How does it work?</h3>
  <p>Joe’s Skyrim Roulette (JSR) will randomly generate the following on each roll:</p>
  <ul>
    <li>A race</li>
    <li>3 Major Skills</li>
    <li>3 Minor Skills</li>
    <li>Zero or more handicaps</li>
    <li>A quest</li>
  </ul>
  <p>The goal of the game is to start a new Skyrim playthrough from scratch and successfully complete the quest you’ve been assigned. As with normal Skyrim, there’s no restriction to what you can do in order to achieve this goal except:</p>
  <ul>
    <li>Your hero has to be of the race assigned by the Roulette. You’re free to choose the sex, as well as the physical appearance.</li>
    <li>Until you reach level 20, you can only spend perk points on your Major Skills.</li>
    <li>After you reach level 20, you can also spend perk points on your Minor Skills.</li>
    <li>If you’ve been assigned one or more handicap, check the following table to see what restrictions they add.</li>
  </ul>
  <div class="handicaps">
    <table>
      <th>Handicap</th><th>Explanation</th>
      <tr><td>Broken Fingers</td><td>A childhood accident has damaged both your hands, leaving your fingers severely deformed. You lose the ability to hold weapons. (Unhanded combat, spells and staves are still fair game)</td></tr>
      <tr><td>Insomniac</td><td>The voices in your head prevent you from falling asleep. The loud screams of your own anxiety keep you up and dreading the night. You cannot sleep in-game.</td></tr>
      <tr><td>Stoned</td><td>Years of substance abuse have made your body insensitive to natural forces. You remain completely apathetic around Standing Stones and refuse to accept the sign of their blessing.</td></tr>
      <tr><td>Pious Mortal</td><td>Years of prayers have strenghtened your faith in the Divines. You reject the daedras and their cult, you refuse to touch any daedric artifact</td></tr>
      <tr><td>Disgrace to your Race</td><td>Your own culture makes no sense to you, you have no natural affinity to your own kin. You cannot use any active racial power you may have</td></tr>
      <tr><td>Body Odour</td><td>Bad breath, poor hygiene, and horrible manners. Nobody appreciates your companionship. You have issues making friendships and cannot pick up a follower.</td></tr>
      <tr><td>Dragonfool</td><td>You're not the Dragonborn. Never kill the first dragon. Never learn to shout. You're just a citizen of Skyrim like everybody else.</td></tr>
      <tr><td>Agoraphobic</td><td>You hate crowds and they hate you. You avoid towns when you can. You cannot do any trading in shops within any of the 9 cities.</td></tr>
      <tr><td>Seasoned Traveler</td><td>You've been on the road for as long as you can remember. You've crossed lands and seas, braved the elements, and survived all weathers. You know how to carefully plan for your trip and how to make it to destination alive. You refuse to fast travel.</td></tr>
      <tr><td>Permadeath</td><td>the ultimate challenge: Conquer death itself! Permadeath forces you to carefully plan your every move, every action, because any slip up will cost you dearly. If you die once, it's game over, throw away the character and start new.</td></tr>
    </table>
  </div>
  <div class="difficulty">
    <h3 id="note-about-the-difficulty-level">Note about the difficulty level</h3>
    <p>It is tempting to impose to play on Legendary level, in order to make this Roulette really challenging. However, given that some of the builds generated are fairly weak, I fear it could turn off new players. So I’d rather take the same approach as the Skyrim designers and let the player decide for themselves what they want to play. I personally play most of my playthroughs on Master difficulty, it’s difficult enough that you cannot simply rush into fights and dungeons, yet not too difficult so you don’t need to spend an eternity doing trade and business.</p>
  </div>
</div>
