nav {
    background-color: #161925;
    padding-left: 3%;
    padding-right: 1%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-right: 3%;
    justify-content: flex-end;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #d8dbe2;
}

.nav-item:hover {
    background-color: #7f7979;
}

.nav-item:hover a {
    color: #c1bdb3;
}

.logo {
    font-size: 30px;
    padding: 0.1em;
    text-decoration: none;
    color: #d8dbe2;
    cursor: default;
}

@media only screen and (max-width: 600px) {
    .nav-links {
        display: block;
    }
    .logo {
        padding: 1%;
    }


}
