<div class="container" style="width: 500px;">
  <ul id="char-ul" class="list-group list-group-flush text-left" style="border-style: solid; border-width: 1px;">
    <li class="list-group-item">Race: {{result.race}}</li>
    <li class="list-group-item">Major Skill: {{result.major}}</li>
    <li class="list-group-item">Minor Skill: {{result.minor}}</li>
    <li class="list-group-item">Handicap: {{result.handicaps}}</li>
    <li class="list-group-item">Quest: {{result.quest}}</li>
  </ul>
  <div class="container mt-3 p-3">
    <button type="button" class="btn btn-primary" (click)="ngOnSelect()">Roll</button>
  </div>
</div>
