.roulette {
    margin-top: 8em;
}

.roulette table {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2em;
}


.roulette table td {
    border-bottom:1pt solid #505050;
}

.button {
    text-decoration: none;
    color: black;
    margin-left: 40%;
}

@media only screen and (max-width: 600px) {
    .roulette table {
	font-size: 12px;
	width: 100%;
    }

    .roulette table td {
	padding: 0.5em;
    }

    .roulette {
	padding: 1em;
    }
}
